
@{
    ViewBag.Title = "Radar";
}

<h2>Radar</h2>

<style>
    canvas {
        position: absolute;
        top: 200px;
        left: 200px;
        border: 2px solid black;
    }
</style>
<script src="@Url.Content("~/Content/Shared/js/jquery-2.1.0.min.js")"></script>
<script src="@Url.Content("~/Content/Shared/js/moment.min.js")"></script>
<script src="@Url.Content("~/Content/Shared/js/utils.js")"></script>
<script src="@Url.Content("~/Content/Wx/Tools/Radar/radar.json")"></script>
<script src="@Url.Content("~/Content/Wx/Tools/Radar/bv.json")"></script>
<script src="@Url.Content("~/Content/Wx/Tools/Radar/nx0.json")"></script>
<script src="@Url.Content("~/Content/Wx/Tools/Radar/nx1.json")"></script>
<script src="@Url.Content("~/Content/Wx/Tools/Radar/nx2.json")"></script>
<script src="@Url.Content("~/Content/Wx/Tools/Radar/nx3.json")"></script>
<script src="@Url.Content("~/Content/Wx/Tools/Radar/nx4.json")"></script>
<script src="@Url.Content("~/Content/Wx/Tools/Radar/nx5.json")"></script>
<script src="@Url.Content("~/Content/Wx/Tools/Radar/nx6.json")"></script>
<script src="@Url.Content("~/Content/Wx/Tools/Radar/nx7.json")"></script>
<script src="@Url.Content("~/Content/Wx/Tools/Radar/nx8.json")"></script>
<script src="@Url.Content("~/Content/Wx/Tools/Radar/nx9.json")"></script>
<script src="@Url.Content("~/Content/Wx/Tools/Radar/nx10.json")"></script>
<script src="@Url.Content("~/Content/Wx/Tools/Radar/nx11.json")"></script>
<script src="@Url.Content("~/Content/Wx/Tools/Radar/nx12.json")"></script>
<script src="@Url.Content("~/Content/Wx/Tools/Radar/js/radar.min.js")"></script>