@{
    Layout = string.Empty;
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="@Url.Content("~/Content/Shared/css/capbreak.dusty.css")" type="text/css" />
    <style>
        #map-canvas {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .map-marker-label {
            position: absolute;
            color: white;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
            font-size: 14px;
            font-weight: normal;
        }

        .map-marker-html {
            position: absolute;
        }

        canvas#radar {
            position: absolute;
        }
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=weather"></script>
    <script src="@Url.Content("~/Content/Shared/js/jquery-2.1.0.min.js")"></script>
    <script src="@Url.Content("~/Content/Shared/js/moment.min.js")"></script>
    <script src="@Url.Content("~/Content/Shared/js/utils.js")"></script>
    <script src="@Url.Content("~/Content/Wx/Tools/Radar/js/radar.js")"></script>
    <script src="@Url.Content("~/Content/Shared/js/sitelist.js")"></script>
    <script src="@Url.Content("~/Content/Shared/js/capbreak.gmaps.js")"></script>
    <script src="@Url.Content("~/Content/Shared/js/capbreak.sci.js")"></script>
    <script src="@Url.Content("~/Content/Shared/js/capbreak.geo.js")"></script>
</head>
<body>
    <div id="dusty-status">
        <div id="dusty-hamburger"></div>
        <div id="dusty-clock"></div>
        <div id="dusty-latlon"></div>
        <div id="dusty-network"></div>
        <div id="dusty-natradar">Toggle National Radar</div>
        <div id="dusty-location">Toggle Location</div>
        <div id="dusty-sites">Toggle NEXRAD Sites</div>
    </div>
    <div id="map-canvas"></div>
    <canvas id="radar" width="460" height="460"></canvas>
    <div id="dusty-console">
        <ol></ol>
    </div>
    <script src="@Url.Content("~/Content/Shared/js/capbreak.dusty.js")"></script>
</body>
</html>